body
{
	background-color: white;
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.navbar 
{
   margin-bottom: 0;
   border-radius: 0;
   border: 0;
   background-color: #FF9900;
}
 
.row.content 
{
	height: 450px
}
    
 .sidenav
{
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}
    
footer 
{
	background-color: #555;
	color: white;
	padding: 15px;
}
    
   @media screen and (max-width: 767px)
{
  .sidenav 
{
	height: auto;
	padding: 15px;
}
  .row.content {height:auto;} 
}
	
.jumbotron
{
	text-align: center;
	margin: 0 px;
	margin-bottom: 0px;
	background-color: white;
}
	
.navbar-nav.navbar-center 
{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-center a:hover
{
background-color: white;
}

.jumbotron a
{
	text-decoration: none;
	color: #FF9900;
}

.jumbotron a:hover
{
	text-decoration: none;
	color: #FF9900;
}

.navbar a
{
	text-decoration: none;
	color: white;
}

.navbar a:hover
{
	text-decoration: none;
	color: #FF9900;
	background-color: white;
}